<?php

function adminer_object() {
    include_once "/usr/share/adminer/plugin.php";

    foreach (glob("/usr/share/adminer/*.php") as $filename) {
        $local = end(explode("/", $filename));

        if ($local == "adminer.php" || $local == "plugin.php") {
            continue;
        }

        include_once $filename;
    }

    $plugins = array(
{% for item in adminer_general_plugins %}{% if item.state | default('present') == 'present' %}
        new {{ item.class }}{% if item.config %}(
            {{ item.config | trim | indent(width=12, indentfirst=False) }}
        ){% endif %},
{% endif %}{% endfor %}
    );

    return new AdminerPlugin($plugins);
}

include "/usr/share/adminer/adminer.php";
